@reference "../../index.css";

.Overview {
  @apply flex flex-col items-center h-full;

  &__grid {
    @apply grid gap-4 grid-cols-1 w-full p-5;

    @media (max-width: 780px) {
      @apply px-2 pt-10;
    }

    /* MOBILE (default) */
    grid-template-areas:
      "header"
      "filters"
      "cards"
      "charts";

    &__header {
      grid-area: header;
    }

    &__filters {
      @apply bg-purple-300;
      grid-area: filters;
    }

    &__cards {
      @apply grid grid-cols-1 gap-3 mb-2;
      @media (min-width: 380px) {
        @apply grid-cols-2;
      }
      @apply md:grid-cols-2 md:gap-4;
      @apply xl:grid-cols-4;

      grid-area: cards;
    }

    &__charts {
      @apply flex flex-col gap-2;
      @apply md:gap-4;
      grid-area: charts;

      @media (min-width: 1440px) {
        @apply flex-row gap-6;

        & > :first-child {
          width: calc(66.666% - 12px);
        }

        & > :nth-child(2) {
          width: calc(33.333% - 12px);
        }
      }
    }
  }
}

/* md (≥768px) */
@media (min-width: 768px) {
  .Overview__grid {
    @apply grid-cols-2;

    grid-template-areas:
      "header header"
      "filters filters"
      "cards cards"
      "charts charts";
  }
}

/* lg (≥1024px) */
@media (min-width: 1024px) {
  .Overview__grid {
    @apply grid-cols-4;

    grid-template-areas:
      "header header header filters"
      "cards cards cards cards"
      "charts charts charts charts";
  }
}

// /* xl (≥1280px) */
// @media (min-width: 1280px) {
//   .Overview__grid {
//     @apply grid-cols-4;

//     grid-template-areas:
//       "header header header filters"
//       "cards cards cards cards"
//       "charts charts charts charts";
//   }
// }

// /* 2xl (≥1536px) */
// @media (min-width: 1536px) {
//   .Overview__grid {
//     @apply grid-cols-4;

//     grid-template-areas:
//       "header header header filters"
//       "cards cards cards cards"
//       "charts charts charts charts";
//   }
// }
