@reference "../../../index.css";

.Overview {
  @apply flex flex-col items-center;

  &__grid {
    @apply grid grid-cols-1 w-full gap-6;

    /* MOBILE (default) */
    grid-template-areas:
      "header"
      "filters"
      "cards"
      "charts"
      "feedbacks";

    &__header {
      grid-area: header;
    }

    &__filters {
      @apply bg-purple-300;
      grid-area: filters;
    }

    &__cards {
      grid-area: cards;
    }

    &__charts {
      @apply flex flex-col gap-2;
      @apply md:gap-4;
      grid-area: charts;

      @media (min-width: 1440px) {
        @apply flex-row gap-6;

        & > :first-child {
          width: calc(66.666% - 12px);
        }

        & > :nth-child(2) {
          width: calc(33.333% - 12px);
        }
      }
    }

    &__feedbacks {
      grid-area: feedbacks;
    }
  }
}

/* md (≥768px) */
@media (min-width: 768px) {
  .Overview__grid {
    @apply grid-cols-2;

    grid-template-areas:
      "header header"
      "filters filters"
      "cards cards"
      "charts charts"
      "feedbacks feedbacks";
  }
}

/* lg (≥1024px) */
@media (min-width: 1024px) {
  .Overview__grid {
    @apply grid-cols-4;

    grid-template-areas:
      "header header header filters"
      "cards cards cards cards"
      "charts charts charts charts"
      "feedbacks feedbacks feedbacks feedbacks";
  }
}
