@theme {
  /* BREAKPOINT */

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1440px;

  /* TEXT */
  --color-positive-trend: #00c49f; /* LIGHT GREEN */
  --color-neutral-trend: #eab308; /* LIGHT ORANGE */
  --color-negative-trend: #ef4444; /* RED */
  --color-negative-trend-dark: #82181a; /* DARK RED */
  --color-white: #ffffff;

  /* TEXT - CHARTS */
  --color-primary-charts: #8884d8; /* BLUE/PURPLE */
  --color-dark-charts: #5d5b96; /* DARK BLUE/PURPLE */
  --color-gray-charts: #818589; /* LIGHT GRAY */

  /* EFFECTS */
  --color-hover-bg: #eff6ff;
  --color-hover-text: #155dfc;

  /* ICON COLORS */
  --color-icon-positive: #065f46; /* GREEN */
  --color-icon-neutral: #92400e; /*  ORANGE */
  --color-icon-negative: #991b1b; /* RED */

  /* BACKGROUND COLORS */
  --color-pale-positive: #d1fae5; /* GREEN */
  --color-pale-neutral: #fef3c7; /*  ORANGE */
  --color-pale-negative: #fee2e2; /* RED */

  /* BORDER COLORS */
  --color-card-border: #e5e7eb; /*  LIGHT GRAY */
}
