@theme {
  /* BREAKPOINT */

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1440px;

  /* THEME */
  --color-positive-trend: #12b981;
  --color-negative-trend: #82181a;
  --color-white: #ffffff;
}
