@theme {
  /* BREAKPOINT */

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1440px;

  /* THEME */
  --color-positive-trend: #00c49f; /* LIGHT GREEN */
  --color-neutral-trend: #eab308; /* LIGHT ORANGE */
  --color-negative-trend: #ef4444; /* RED */
  --color-negative-trend-dark: #82181a; /* DARK RED */

  --color-hover-bg: #eff6ff;
  --color-hover-text: #155dfc;

  --color-white: #ffffff;
}
