@reference "../../index.css";

.DashboardLayout {
  @apply h-screen;
  @apply grid grid-cols-[256px__5fr];
  grid-template-areas: "sidebar main";
  &--collapsed {
    @apply grid-cols-[96px__5fr];
  }

  &__sidebar {
    @apply bg-green-700;
    grid-area: sidebar;
  }

  &__main {
    @apply bg-amber-600;
    // @apply -mx-20;
    grid-area: main;
  }
}
