@reference "../../index.css";

.Sidebar {
  @apply fixed top-0 left-0 h-screen
         flex flex-col
         bg-white text-zinc-800
         w-64 transition-all duration-300
         px-6 py-5 border-r border-zinc-200;

  &--collapsed {
    @apply w-fit items-center;
  }

  &__top {
    @apply flex items-center justify-between;

    &__toggle {
      @apply p-2 rounded-lg hover:bg-hover-bg transition text-zinc-700 cursor-pointer;
    }

    &__title {
      @apply title-3-bold text-zinc-900;
    }
  }

  &__divider {
    @apply border-zinc-200 my-5 min-w-14;
  }

  &__nav {
    @apply flex flex-col gap-3.5 flex-1;
  }

  &__admin {
    @apply relative flex flex-col mt-auto;

    &__dropdown {
      @apply flex flex-col gap-1.5 mb-3;

      &__item {
        @apply flex items-center gap-2.5 px-3.5 py-2.5 rounded-lg
               hover:bg-hover-bg bg-zinc-100 body-3 transition
               text-zinc-700 hover:text-hover-text;
      }
    }
  }

  &__info {
    @apply flex items-center gap-3 px-2.5 py-2.5 rounded-lg
           hover:bg-hover-bg transition w-full text-left;
  }

  &__profile {
    @apply flex flex-col body-3;

    &__name {
      @apply font-semibold text-zinc-900;
    }

    &__role {
      @apply body-4 text-zinc-500;
    }
  }
}

.NavItem {
  @apply flex items-center gap-4 p-2.5 rounded-lg
         hover:bg-hover-bg transition body-2
         text-zinc-700 hover:text-hover-text;

  svg {
    @apply text-zinc-700 hover:text-hover-text;
  }

  &--active {
    @apply bg-hover-bg text-hover-text font-semibold;

    svg {
      @apply text-hover-text;
    }
  }
}

.chevron {
  @apply transition-transform duration-200 text-zinc-600 ml-auto;

  &.rotate {
    @apply rotate-180;
  }
}
