@reference "../../../index.css";

.FeedbackTable {
  @apply w-full bg-white rounded-xl border-[2.3px] border-card-border overflow-hidden;

  &__wrapper {
    @apply overflow-x-auto;
  }
}

.Table {
  @apply w-full border-collapse;
  min-width: 800px;

  @media (max-width: 780px) {
    min-width: 100%;
  }

  &__header {
    @apply bg-zinc-50 border-b border-card-border;

    th {
      @apply px-4 py-4 text-left body-3 font-semibold text-zinc-700;
      @apply md:px-6 md:py-5;

      &:last-child {
        @apply text-right;
      }
    }

    th:has(.Table__header__date) {
      @apply hover:bg-hover-bg transition-colors duration-250  cursor-pointer;
    }

    &__date {
      @apply flex justify-between gap-3;
    }
  }

  &__row {
    @apply border-b border-card-border cursor-pointer transition;
    @apply hover:bg-hover-bg;

    &--expanded {
      @apply bg-hover-bg;
    }

    td {
      @apply px-4 py-3 body-3 text-zinc-800;
      @apply md:px-6 md:py-4;
    }

    &__pill {
      @apply w-24;

      &--mobile {
        @apply flex justify-center w-full;
      }
    }

    &__chevron {
      @apply min-w-7;

      svg {
        color: #155dfc;
      }
    }
  }
}
